#pic1{
    height: 200px;
    width:200px;
    margin-left: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100px;
}

nav{
    
    margin-top: 50px;
    background-color: brown;
    color:black;
    padding: 20px;
}

#AM{
    padding: 20PX;
    margin-left: 150px;
    color: black;
}
footer{
    background-color: black;
    color: white;
    margin-top: 30%;
}
h3{
    margin-left: 650px;
}
h4{
    margin-left: 450px;
}
p{
    margin-left: 470px;

}
p1{
    margin-left: 500px;
}
footer1{
    background-color: black;
}
#VH{
    background-color: brown;

}

h3{
    margin-left: 400px;
}
#myvid{
    margin-left: 450px;
}